* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: bisque;
    text-align: center;
    margin: auto 10% auto 10%;
    padding: 20px 20px 20px 0px;
    color: rgb(27, 177, 204);
}

ul {
    text-align: center;
}

li {
    color: cadetblue;
}

a {
    font-style: oblique;
    font-weight: bold;
    color: rgb(45, 143, 36);
}

p {
    background-color:burlywood;
    color:aliceblue;
}

#steps {
    background-color: azure;
    color: cadetblue;
    font-size: large;
    text-align: justify;
}